
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/Master.css" rel="stylesheet" />
    <link href="~/Content/ControlsStyle/itembox.css" rel="stylesheet"/>
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <header></header>
    <div>
        <div class="navbar">
            <div>@Html.ActionLink("Home", "Index", "Home", new { @class = "navbar-button" })</div>
            <div> @Html.ActionLink("Shopping Cart", "Index", "Home", new { @class = "navbar-button" })</div>
            <div> @Html.ActionLink("Branches", "Index", "Home", new { @class = "navbar-button" })</div>
            <div> @Html.ActionLink("Products", "Index", "Home", new { @class = "navbar-button" })</div>
            <div> @Html.ActionLink("Suppliers", "Index", "Home", new { @class = "navbar-button" })</div>
            <div> @Html.ActionLink("Customers", "Index", "Home", new { @class = "navbar-button" })</div>
            <div> @Html.ActionLink("Management", "Index", "Home", new { @class = "navbar-button" })</div>
            <div> @Html.ActionLink("Inventory", "Index", "Home", new { @class = "navbar-button" })</div>
        </div>
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <br/>
            <p>&copy; @DateTime.Now.Year - FoodAndStuffStore</p>
        </footer>
    </div>
</body>
</html>
