@model List<ElectricalAppliancesStore.Models.Product>
@{
    Layout = "~/Views/Shared/Management.cshtml";
    ViewBag.Title = "Inventory";
}
<div class="container">
    <div class="container col-sm-2">
        <h2 style="margin-left: 15px;">Inventory</h2>
    </div>

    <div class="container col-sm-6" style="margin-top:20px;float:left;">
        <div class="zoomGlass">
            <input name="search" id="search" type="search" placeholder="Search">
            <div class="zoomStick">/</div>
        </div>
    </div>
    <div class="container col-sm-2" style="margin-top:20px;float:left;">
        <input type="submit" value="Advanced Search >>" class="btn btn-info my-2 my-sm-0" />
    </div>
    <div class="container col-sm-2" style="margin-top:20px;float:left;">
       @Html.ActionLink("+ Add", "AddProduct", "Products", null, new { @class = "btn btn-success my-2 my-sm-0" })
    </div>
</div>
<div class="container">
    <div class="container col-sm-8">
        @if (Model.Count > 0)
        {
            foreach (ElectricalAppliancesStore.Models.Product currProduct in Model)
            {
                <div class="itemContainer">
                    <div class="itembox" style="background-image:url(@currProduct.PicturePath)">
                        <div class="selectionbar">
                            @Html.ActionLink("Edit", "EditProduct", "Products", new { productID = @currProduct.ID }, new { @class = "control edit" })
                            <input type="text" class="control number" value="@Html.DisplayFor(modelItem => currProduct.SalePrice) NIS" />
                            @Html.ActionLink("Delete", "Delete", "Products", new { productID = @currProduct.ID }, new { @class = "control delete" })
                        </div>
                    </div>
                    <br />

                    <p>@Html.DisplayFor(modelItem => currProduct.Title)</p>
                    <p>@currProduct.Description</p>
                </div>
            }
        }      
    </div>
</div>

<script type="text/javascript">
    function editProduct(location) {
        window.location.href = location;

    }
</script>
