@model List<ElectricalAppliancesStore.Models.Product>
@{
    Layout = "~/Views/Shared/Management.cshtml";
    ViewBag.Title = "Inventory";
}
<div class="container">
    <div class="container col-sm-2">
        <h2 style="margin-left: 15px;">Inventory</h2>
    </div>

    <div class="container col-sm-6" style="margin-top:20px;float:left;">
        <div class="zoomGlass">
            <input name="search" id="search" type="search" placeholder="Search" onkeyup="OnIndexCall()">
            <div class="zoomStick">/</div>
        </div>
    </div>
    <div class="container col-sm-2" style="margin-top:20px;float:left;">
        @Html.ActionLink("Advanced Search >>", "ProductsByCategoryBrandAndMaxPrice", "Products", new { @class = "btn btn-info my-2 my-sm-0", @id = "advSearchLink" })
        @*<input type="submit" value="Advanced Search >>" class="btn btn-info my-2 my-sm-0" />*@
    </div>
    <div class="container col-sm-2" style="margin-top:20px;float:left;">
       @Html.ActionLink("+ Add", "AddProduct", "Products", null, new { @class = "btn btn-success my-2 my-sm-0" })
    </div>
</div>
<div>
    <table>
        <tr>
            <td>
                <label class="th-manger-page">Max Price </label>
                <br />
                <input type="text" id="max_price" onkeyup="advOnIndexCall()" />
            </td>
            <td>
                <label class="th-manger-page">Category </label>
                <br />
                <select id="categories" class="dropdown-menu" onchange="advOnIndexCall()" style="display: inline-block;position: inherit;"></select>
            </td>
            <td>
                <label class="th-manger-page">Suppliers </label>
                <br />
                <select id="suppliers" class="dropdown-menu"  onchange="advOnIndexCall()"  style="display: inline-block;position: inherit;"></select>
            </td>
        </tr>
    </table>
</div>
<div class="container">
    <div class="container col-sm-8">
        @if (Model.Count > 0)
        {
            foreach (ElectricalAppliancesStore.Models.Product currProduct in Model)
            {
                <div class="itemContainer">
                    <div class="itembox" style="background-image:url(@currProduct.PicturePath)">
                        <div class="selectionbar">
                            @Html.ActionLink("Edit", "EditProduct", "Products", new { productID = @currProduct.ID }, new { @class = "control edit" })
                            <input type="text" class="control number" value="@Html.DisplayFor(modelItem => currProduct.SalePrice) NIS" />
                            @Html.ActionLink("Delete", "Delete", "Products", new { productID = @currProduct.ID }, new { @class = "control delete" })
                        </div>
                    </div>
                    <br />

                    <p>@Html.DisplayFor(modelItem => currProduct.Title)</p>
                    <p>@currProduct.Description</p>
                </div>
            }
        }      
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetCategories", "Manager")',
            success: function (data) {
                $.each(data, function (i, item) {
                    var opt = document.createElement("option");
                    opt.value = item.Category;
                    opt.innerHTML = item.Category;

                    // then append it to the select element
                    document.getElementById('categories').appendChild(opt);

                });
            }
        });
        $.ajax({
            url: '@Url.Action("GetSuppliers", "Manager")',
            success: function (data) {
                $.each(data, function (i, item) {
                    var opt = document.createElement("option");
                    opt.value = item.Brand;
                    opt.innerHTML = item.Brand;

                    // then append it to the select element
                    document.getElementById('suppliers').appendChild(opt);
                });
            }
        });
    });
    function editProduct(location) {
        window.location.href = location;
    }
    function advOnIndexCall() {
        debugger;
        var maxPrice = document.getElementById('max_price').value;
        var categories = document.getElementById("categories");
        var category = categories.options[categories.selectedIndex].value;
        var suppliers = document.getElementById("suppliers");
        var supplier = suppliers.options[suppliers.selectedIndex].value;
        $('#advSearchLink').attr('href', '@Url.Action("ProductsByCategoryBrandAndMaxPrice", "Products")' + '?category=' + category + '&supplier=' + suppliers + '&maxBuyPrice=' + maxPrice);
    }
</script>
