@model ElectricalAppliancesStore.Models.EditClientView

@{
    Layout = "~/Views/Shared/Management.cshtml";
    ViewBag.Title = "Edit Customer";
}

<h2>Edit Customer</h2>

@using (Html.BeginForm("Edit", "Users", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ClientID)
    <table>
        <tr>
            <td>
                @Html.LabelFor((model => model.FullName), new { @class = "th-manger-page" })
                @Html.TextBoxFor(model => model.FullName)
                <br />
                @Html.LabelFor(model => model.Username, new { @class = "th-manger-page" })
                @Html.TextBoxFor(model => model.Username)
                <br />
                @Html.LabelFor(model => model.Password, new { @class = "th-manger-page" })
                @Html.PasswordFor(model => model.Password)
                <br />
                @Html.LabelFor(model => model.Email, new { @class = "th-manger-page" })
                @Html.TextBoxFor(model => model.Email)
                <br />
                @Html.LabelFor(model => model.Address.Country, new { @class = "th-manger-page" })
                @Html.TextBoxFor(model => model.Address.Country)
                <br />
            </td>
            <td>
                @Html.LabelFor(model => model.Address.City, new { @class = "th-manger-page" })
                @Html.TextBoxFor(model => model.Address.City)
                <br />
                @Html.LabelFor(model => model.Address.Street, new { @class = "th-manger-page" })
                @Html.TextBoxFor(model => model.Address.Street)
                <br />
                @Html.LabelFor(model => model.Address.HouseNumber, new { @class = "th-manger-page" })
                @Html.TextBoxFor(model => model.Address.HouseNumber)
                <br />
                @Html.LabelFor(model => model.Address.ZipCode, new { @class = "th-manger-page" })
                @Html.TextBoxFor(model => model.Address.ZipCode)
                <br />
                @Html.LabelFor(model => model.Address.AppartmentNumber, new { @class = "th-manger-page" })
                @Html.TextBoxFor(model => model.Address.AppartmentNumber)
                <br />
            </td>
        </tr>
    </table>
    <input type="submit" value="submit" class="btn-success" />
}