@model ElectricalAppliancesStore.Models.ProductView
@{
    Layout = "~/Views/Shared/Customers.cshtml";
    ViewBag.Title = "ProductView";
}
<div class="container">
    <div class="container col-sm-2">
        <h2 style="margin-left: 15px;">Products</h2>
    </div>

    <div class="container col-sm-8" style="margin-top:20px;float:left;">
        <div class="zoomGlass">
            <input name="search" id="search" type="search" placeholder="Search">
            <div class="zoomStick">/</div>
        </div>
    </div>
    <div class="container col-sm-2" style="margin-top:20px;float:left;">
        <input type="submit" value="Advanced Search >>" class="btn btn-info my-2 my-sm-0" />
    </div>
</div>
<div class="container">
    <div class="container col-sm-8">

        @if (Model.products.Count > 0)
        {
            foreach (ElectricalAppliancesStore.Models.Product currProduct in Model.products)
            {
                <div class="itemContainer">
                    <div class="itembox" style="background-image:url(@currProduct.PicturePath)">
                        <div class="selectionbar">
                            <input type="button" class="control plus" value="+" />
                            <input type="text" class="control number" value="0" />
                            <input type="button" class="control minus" value="-" />
                        </div>
                    </div>
                    <br />
                    <p>@Html.DisplayFor(modelItem => currProduct.Title)</p>
                </div>
            }
        }
    </div>
    <h4 class="text-center">Shopping Cart:</h4>
    <div class="shoppingList container col-sm-3">
        <div class="container col-sm-7 text-info">
            Product
        </div>
        <div class="container col-sm-3 text-info">
            Quantity
        </div>
        <div class="container col-sm-1 text-info">
            Price
        </div>
        <br /><br />
        @if (Model.currOrder.Items.Count > 0)
        {
            double sum = Model.currOrder.PriceSum();
            foreach (ElectricalAppliancesStore.Models.OrderItem currItem in Model.currOrder.Items)
            {
                if (currItem.Quantity > 0)
                {
                    <div class="container col-sm-8">
                        @currItem.Product.Title
                    </div>
                    <div class="container col-sm-2">
                        @currItem.Quantity
                    </div>
                        <div class="container col-sm-2">
                            @(currItem.Product.SalePrice * currItem.Quantity)
                        </div>
                }
            }
        }
    </div>
    <div class="container col-sm-3">
        <br />
        <input type="submit" value="Procced To Checkout" class="btn btn-success my-2 my-sm-0" />
    </div>
</div>
<div class="container col-md-12">
</div>