@model ElectricalAppliancesStore.Models.ProductView
@{
    Layout = "~/Views/Shared/Customers.cshtml";
    ViewBag.Title = "ProductView";
}
<div class="container">
    <div class="container col-sm-2">
        <h2 style="margin-left: 15px;">Products</h2>
    </div>

    <div class="container col-sm-8" style="margin-top:20px;float:left;">
        <div class="zoomGlass">
            <input name="search" id="search" type="search" placeholder="Search">
            <div class="zoomStick">/</div>
        </div>
    </div>
    <div class="container col-sm-2" style="margin-top:20px;float:left;">
        <input type="submit" value="Advanced Search >>" class="btn btn-info my-2 my-sm-0" />
    </div>
</div>
<div class="container">
    <div class="container col-sm-8">

        @if (Model.products.Count > 0)
        {
            foreach (ElectricalAppliancesStore.Models.Product currProduct in Model.products)
            {
                <div class="itemContainer">
                    <div class="itembox" style="background-image:url(@currProduct.PicturePath)">
                        <div class="selectionbar">
                            <input type="button" class="control plus" value="+" onclick="updateItemAmount(@currProduct.ID, 'Add')">
                            <input type="text" id="@(currProduct.ID)_amount" class="control number" value="0" onchange="updateItemAmount(@currProduct.ID, 'Change')" />
                            <input type="button" class="control minus" value="-" onclick="updateItemAmount(@currProduct.ID, 'Sub')" />
                        </div>
                    </div>
                    <br />
                    <p>@Html.DisplayFor(modelItem => currProduct.Title)</p>
                </div>
            }
        }
    </div>
    <h4 class="text-center">Shopping Cart:</h4>
    <div class="shoppingList container col-sm-3">
        <div class="container col-sm-7 text-info">
            Product
        </div>
        <div class="container col-sm-3 text-info">
            Quantity
        </div>
        <div class="container col-sm-1 text-info">
            Price
        </div>
        <br /><br />
        @if (Model.currOrder.Items.Count > 0)
        {
            double sum = Model.currOrder.PriceSum();
            foreach (ElectricalAppliancesStore.Models.OrderItem currItem in Model.currOrder.Items)
            {
                if (currItem.Quantity > 0)
                {
                    <div class="container col-sm-8">
                        @currItem.Product.Title
                    </div>
                    <div class="container col-sm-2">
                        @currItem.Quantity
                    </div>
                    <div class="container col-sm-2">
                        @(currItem.Product.SalePrice * currItem.Quantity)
                    </div>
                }
            }
        }
    </div>
    <div class="container col-sm-3">
        <br />
        <input type="submit" value="Procced To Checkout" class="btn btn-success my-2 my-sm-0" />
    </div>
</div>
<div class="container col-md-12">
</div>
<script type="text/javascript">
    function updateItemAmount(itemId, action) {
        // Get curr item amount
        var currAmount = Number(document.getElementById(itemId + '_amount').value);

        // update amount based on action clicked
        if (action == "Add") {
            currAmount++;
        }
        else if (action == "Sub") {
            currAmount--;
        }

        // validate amount before updateing order amount
        if (currAmount < 0) {
            alert("Amount for order cannot be less the zero.");

            // chenge amount to zero
            currAmount = 0;
        }
        else if (currAmount > 5) {
            alert("You are allowed to order up to 5 items, of the type, in one order.");

            // change amount to 5
            currAmount = 5;
        }

        // Update item amount in the order
        UpdateItemOrderAmount(itemId, currAmount);

        // Update display
        document.getElementById(itemId + '_amount').value = currAmount;

    }
    function UpdateItemOrderAmount(itemID, Quantity) {
        debugger;
        var url = '@Url.Action("UpdateOrder","ProductView")';
        $.ajax({
            url: url,
            data: { itemID: itemID, Quantity: Quantity }
        }).fail(function (res) {
            if (!res) {
                alert("The System is unable to process orders at the moment. Please try again later.");
            }
        });
    }
</script>